<app-header></app-header>
<div class="start">
  <label for="card-home">
    <div class="justify-content-center align-items-center">
      <span class="add-dicionario">Dicionário</span>
      <mat-icon class="add-dicionario-icon" [routerLink]="['new-dicionario']">add</mat-icon>
    </div>
  </label>
  <div id="card-home">
    <div class="card row col-6" *ngFor="let item of listBase" id="{{item.id}}">
      <div class="card-body d-flex">
        <div class="col-9" [routerLink]="['view-dicionario']">{{item.nome}}</div>
        <div class="col"> <mat-icon class="mat-18" [routerLink]="['view-dicionario']">search</mat-icon> </div>
        <div class="col"> abc </div>
        <div class="col"><mat-icon class="mat-18">settings</mat-icon></div>
        <div class="col"><mat-icon class="mat-18">close</mat-icon></div>
      </div>
    </div>

  </div>
  <mat-icon class="add-dicionario-icon" [routerLink]="['new-dicionario']">add</mat-icon>
</div>

