.add-dicionario{
  font-size: 28px;
  font-weight: 600;
  color: blue;
}
.add-dicionario-icon{
  font-weight: 600;
  color: white;
  background-color: blue;
  border-radius: 50%;
  margin-top: 5px;
  margin-left: 5px;
}
.start{
  margin-top: 10%;
  margin-left: 40%;
}
img{
  width: 100%;
}
